In [1]:
import pandas as pd

data_csv = pd.read_csv('data_mahasiswa.csv',delimiter=';')
print(data_csv)

  Mahasiswa Jenis Kelamin  Asal Kota       Program Studi
0     Paijo             L    Magetan  Teknik Informatika
1    Andini             P    Jombang  Teknik Informatika
2     Sindy             P   Surabaya                PGSD
3      Budi             L  Bangkalan          Ilmu Hukum
4     Sonia             P   Sidoarjo      Teknik Elektro
5      Alex             L    Jombang           Psikologi
6    Wildan             L   Lamongan                PGSD
7      Agus             L  Bangkalan      Teknik Elektro
8    Nadhif             L       Pati           Psikologi

In [2]:
jenis_kelamin = data_csv['Jenis Kelamin']
asal_kota = data_csv['Asal Kota']
prodi = data_csv['Program Studi']

In [3]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
jenis_kelamin_encoded = label_encoder.fit_transform(jenis_kelamin)

print(jenis_kelamin_encoded)

[0 1 1 0 1 0 0 0 0]

In [4]:
asal_kota_encoded = pd.get_dummies(asal_kota)
print(asal_kota_encoded )
asal_kota_encoded = asal_kota_encoded.values.tolist()
asal_kota_encoded

   Bangkalan  Jombang  Lamongan  Magetan  Pati  Sidoarjo  Surabaya
0          0        0         0        1     0         0         0
1          0        1         0        0     0         0         0
2          0        0         0        0     0         0         1
3          1        0         0        0     0         0         0
4          0        0         0        0     0         1         0
5          0        1         0        0     0         0         0
6          0        0         1        0     0         0         0
7          1        0         0        0     0         0         0
8          0        0         0        0     1         0         0

[[0, 0, 0, 1, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1],
 [1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 1, 0],
 [0, 1, 0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0]]

In [5]:
prodi_encoded = label_encoder.fit_transform(prodi)

print(prodi_encoded)

[4 4 1 0 3 2 1 3 2]

In [6]:
data_encoded = data_csv.copy()
data_encoded['Jenis Kelamin'] = jenis_kelamin_encoded
data_encoded['Program Studi'] = prodi_encoded
data_encoded['Asal Kota'] = asal_kota_encoded
data_encoded

  Mahasiswa  Jenis Kelamin              Asal Kota  Program Studi
0     Paijo              0  [0, 0, 0, 1, 0, 0, 0]              4
1    Andini              1  [0, 1, 0, 0, 0, 0, 0]              4
2     Sindy              1  [0, 0, 0, 0, 0, 0, 1]              1
3      Budi              0  [1, 0, 0, 0, 0, 0, 0]              0
4     Sonia              1  [0, 0, 0, 0, 0, 1, 0]              3
5      Alex              0  [0, 1, 0, 0, 0, 0, 0]              2
6    Wildan              0  [0, 0, 1, 0, 0, 0, 0]              1
7      Agus              0  [1, 0, 0, 0, 0, 0, 0]              3
8    Nadhif              0  [0, 0, 0, 0, 1, 0, 0]              2